<div class="container-fluid page-heading">
    <h4>[[ 'Reports' | translate]]</h4>
</div>
<div class="container-fluid cont-w-sidenav" ng-class="{side__active: true}">
    <div class="row-fluid" id="section-to-print">

        <div class="main-title">
            <h2>Case Status</h2>
        </div>

        <form name="reportform" class="form-horizontal">

            <div class="row" style="margin-top: 10px">
                <div class="col-md-1 col-xs-2">
                    <label class="control-label">Date Range:</label>
                </div>
                <div class="col-md-8 col-xs-10">
                    <div class="row">
                        <div class="col-xs-4 form-group">
                            <div class="col-sm-10">
                                <select class="form-control" name=""
                                        ng-options="date_range as date_range.name for date_range in date_range_options track by date_range.value"
                                        ng-model="selected_date_range_option" ng-init="selected_date_range_option = date_range_options[1]"/>
                            </div>
                            <div class="col-sm-2 control-label">
                              OR
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label class="col-sm-2 control-label">From:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="From"
                                       ng-model="datefrom"
                                       bs-datepicker
                                       data-autoclose="true"
                                       data-max-date="[[filter.date.dateto]]" data-date-format="[[date_format]]"
                                       data-icon-left="fa fa-chevron-left" data-icon-right="fa fa-chevron-right"
                                       maxlength="10"
                                       data-placement="bottom-left"
                                       ng-disabled="selected_date_range_option != date_range_options[4]"
                                >
                                <i class="fa fa-calendar"
                                   style="float: right; position: relative;  top: -25px;  right: 10px;"></i>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label class="col-sm-2 control-label">To:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="[[ 'to' | translate]]"
                                       ng-model="dateto"
                                       bs-datepicker
                                       data-min-date="[[filter.date.datefrom]]" data-date-format="[[date_format]]"
                                       data-icon-left="fa fa-chevron-left" data-icon-right="fa fa-chevron-right"
                                       data-autoclose="true" data-placement="bottom-right"
                                       maxlength="10"
                                       ng-disabled="selected_date_range_option != date_range_options[4]"
                                >
                                <i class="fa fa-calendar"
                                   style="float: right; position: relative;  top: -25px;  right: 10px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form class="form-inline">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-1 col-xs-2">
                    <label class="control-label">Status:</label>
                </div>
                <div class="col-md-8 col-xs-10">
                    <div class="checkbox status-checkbox" ng-repeat="status in incidentStatus">

                        <label><input
                                type="checkbox"
                                value="[[status.order]]"
                                ng-model="status.selected"
                        > [[status.key | translate]]</label>
                    </div>
                </div>
            </div>
        </form>

        <div class="row no-print">
            <div class="col-xs-12">
                <button class="btn btn-primary pull-right" ng-click="onPrint()">[[ 'print' | translate]]
                </button>
                <button class="btn btn-primary pull-right" ng-click="onDownload()" style="margin-right:10px">[[ 'download' | translate]]
                </button>
                <button class="btn btn-primary pull-right" ng-click="search()" style="margin-right:10px">[[ 'search' | translate]]
                </button>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="container-circle col-xs-12">

                    <div class="sub-container-circle" ng-repeat="data in list.summary">
                        <div ng-click="statusFilter(data.order)" class="sub-sub-container-circle">
                            <div class="text-circle" ng-style="{'height': '[[data.height]]px', 'width': '[[data.width]]px'}">
                                <div ng-style="{'line-height': '[[data.height]]px'}">[[data.count]]</div>
                            </div>
                        </div>
                        <div class="sub-container-circle-text">[[data.key | translate]]</div>
                    </div>

            </div>
        </div>

        <div class="col-xs-12" style="margin-top: 20px;">
            <div class="row table-container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>[[ 'date' | translate]]</th>
                        <th>[[ 'location' | translate]]</th>
                        <th>[[ 'injury' | translate]]</th>
                        <th>[[ 'responder' | translate]]</th>
                        <th>[[ 'response' | translate]]</th>
                        <th>[[ 'status' | translate]]</th>
                        <th class="thnohover">[[ 'actions' | translate]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="list.loading">
                        <td colspan="8">
                            Loading...
                        </td>
                    </tr>
                    <tr ng-repeat="data in list.incidents | orderBy :list.predicate :list.reverse">
                        <td>[[data.incident_pk]]</td>
                        <td>[[data.dt_created]]</td>
                        <td class="titlecase">[[data.location.area_name]] [[data.location.run_name]]</td>
                        <td>[[data.injury| transformInjury | toTitlecase]]</td>
                        <td class="titlecase">[[data.assigned_to.name]]</td>
                        <td class="titlecase">[[data.referred_to]]</td>
                        <td class="titlecase">[[data.incident_status.status_label | translate]]</td>
                        <td>
                            <a ui-sref="incident_edit({ incidentId: data.incident_id })"
                               ng-hide="data.status=='Closed'"><i
                                    class="fa fa-pencil-square-o"></i> [[ 'view' | translate]]</a>
                        </td>
                    </tr>

                    <tr ng-show="list.filteredItems == 0 && list.loading == false">
                        <td colspan="7">
                            [[ 'no_incident_found' | translate]]
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row table-footer no-print">
                <div class="table-options">
                    <div class="table-options--page">
                        <span>[[ 'page' | translate]]</span>
                        <select class="form-control select__small" name="" id="" ng-model="list.currentPage">
                            <option ng-repeat="n in [] | range:list.totalPages">[[n]]</option>
                        </select>
                        <span>[[ 'of' | translate]] 1 [[ 'page' | translate]]</span>
                        <small> ([[list.totalItems]] [[ 'total_items' | translate]])</small>
                    </div>
                    <div class="table-options--itemspp">
                        <span>[[ 'showing' | translate]]</span>
                        <select class="form-control select__small" name="" ng-model="list.itemsPerPage">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <span>[[ 'items_per_page' | translate]]</span>
                    </div>
                </div>
                <div
                        pagination=""
                        ng-model="list.currentPage"
                        total-items="list.totalItems"
                        items-per-page="list.itemsPerPage"
                        boundary-links="false"
                        on-select-page="list.setPage(page)"
                        previous-text="&laquo;"
                        next-text="&raquo;"
                        class="pagination-small">
                </div>
            </div>
        </div>

    </div>
</div>
