@font-face {
  font-family: 'Helvetica-Neue-BdCn';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-BdCn.otf')
}

$font-helvetica-bdcn: "Helvetica-Neue-BdCn", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-Cn';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Cn.otf')
}

$font-helvetica-cn: "Helvetica-Neue-Cn", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-Hv';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.otf')
}

$font-helvetica-hv: "Helvetica-Neue-Hv", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-HvCn';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-HvCn.otf')
}

$font-helvetica-hvcn: "Helvetica-Neue-HvCn", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-Lt';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.otf')
}

$font-helvetica-lt: "Helvetica-Neue-Lt", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-LtCn';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-LtCn.otf')
}

$font-helvetica-ltcn: "Helvetica-Neue-LtCn", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-Ltlt';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-LtIt.otf')
}

$font-helvetica-ltlt: "Helvetica-Neue-Ltlt", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-Md';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Md.otf')
}

$font-helvetica-md: "Helvetica-Neue-Md", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-Roman';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.otf')
}

$font-helvetica-roman: "Helvetica-Neue-Roman", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Helvetica-Neue-ThCn';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-ThCn.otf')
}

$font-helvetica-thcn: "Helvetica-Neue-ThCn", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Play';
  src: url('../assets/fonts/Play/Play-Regular.ttf')
}

$font-play: "Play", Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Play-Bold';
  src: url('../assets/fonts/Play/Play-Bold.ttf')
}

$font-play-bold: "Play-Bold", Helvetica, Arial, sans-serif;
