{% load i18n %}{% autoescape off %}
{% blocktrans %}You’re receiving this email because you requested a password reset for your user account at Medic52.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain | add:"/#/password/reset?token=" | add:uid | add:'-' | add:token | add:'-' | add:server_id }}
{% endblock %}

{% trans "Thanks for using Medic52!" %}

{% blocktrans %}Duncan, and the Medic52 team{% endblocktrans %}

Need help? Search our Knowledge Base, or ask a question with 24/7 community based support at help.medic52.com

{% endautoescape %}