<div class="container-fluid page-heading">
    <h4>[[ 'asset_management' | translate]]</h4>
</div>
<div class="container-fluid user-edit" ng-class="{side__active: true}">
    <div class="row-fluid">
        <div class="main-title">
            <h2>[[ 'add_location' | translate]]</h2>

            <div class="main-title--options">
                <div class="pull-right">
                    <a class="link-btn" ui-sref="locations">[[ 'locations' | translate]]</a><span>|</span>
                    <a class="link-btn" ui-sref="location_add">[[ 'add_location' | translate]]</a><span>|</span>
                    <a class="link-btn" ui-sref="areas">[[ 'areas' | translate]]</a><span>|</span>
                    <a class="link-btn right" ui-sref="area_add">[[ 'add_area' | translate]]</a>
                </div>
            </div>
        </div>
        <div class="user-edit--details">

            <form name="form" class="form-horizontal" role="form" ng-submit="addLocation()">
                <div class="form-group">
                    <label for="location_name" class="col-sm-3 control-label">[[ 'name' | translate]]</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="location_name" id="location_name" placeholder=""
                               ng-model="location_name" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="area_id" class="col-sm-3 control-label">[[ 'area' | translate]]</label>

                    <div class="col-sm-9">
                        <select class="form-control" name="area_id" id="area_id" ng-model="area_id" ng-options="choice.area_id as choice.area_name for choice in areas" required="true"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="area" class="col-sm-3 control-label">[[ 'lat/Lng' | translate]]</label>

                    <div class="col-sm-2">
                        <input type="number" step="any" class="form-control" name="map_lat" id="map_lat" placeholder=""
                               ng-model="map_lat" required="true">
                    </div>
                    <div class="col-sm-2">
                        <input type="number" step="any" class="form-control" name="map_long" id="map_long" placeholder=""
                               ng-model="map_long" required="true">
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>

                    <div class="col-sm-9">
                        <div leaflet height="400" width="100%" center="map.center" layers="map.layers" markers="map.markers"
         defaults="map.defaults"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary pull-right">[['save'|translate]]</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
