<div class="container-fluid page-heading">
    <h4>Users</h4>
</div>
<div class="container-fluid user-edit" ng-class="{side__active: true}" ng-init="get()">
    <div class="row-fluid">
        <div class="main-title">
            <h2>[[ 'edit_user' | translate]]</h2>
        </div>
        <div class="user-edit--details">

            <form name="form" class="form-horizontal" role="form" ng-submit="saveUser()">
                <h3>[[ 'user_details' | translate]]</h3>

                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">[[ 'name' | translate]]</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="name" placeholder="" ng-model="user.name" required="true">
                    </div>
                </div>
                 <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && form.email.$dirty }">
                    <label for="email" class="col-sm-3 control-label">[[ 'email' | translate]]</label>

                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="email" placeholder="" ng-model="user.email" ng-required="true"  backend-error>
                        <span ng-show="form.email.$error.backend && form.email.$dirty" class="help-block">[[errors.email | translate]]</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">[[ 'phone' | translate]]</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="" ng-model="user.phone">
                    </div>
                </div>
                <div class="form-group" ng-show="showRole">
                    <label for="role" class="col-sm-3 control-label">[[ 'role' | translate]]</label>

                    <div class="col-sm-9">
                        <select class="form-control" name="role" id="role" ng-model="user.role" ng-options="choice.key as choice.name for choice in roles"></select>
                    </div>
                </div>
                <div class="form-group" ng-show="showPermissions">
                    <label for="permissions" class="col-sm-3 control-label">[[ 'permissions' | translate]]</label>

                    <div class="col-sm-9">
                        <input type="checkbox" class="" name="user_asset_management" id="user_asset_management" ng-model="user.user_asset_management"></input> [[ 'asset_management' | translate]]<br>
                        <input type="checkbox" class="" name="user_controlled_substances" id="user_controlled_substances" ng-model="user.user_controlled_substances"></input> [[ 'controlled_substances' | translate]]
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary pull-right">[['save'|translate]]</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="user-edit--actions">

            <div class="user-actions">
                <div class="user-actions--buttons">
                    <h3>Actions</h3>
                    <button type="button" class="btn btn-primary col-xs-12" ng-click="resetPassword()">[['send_password_reset_email'|translate]]</button>
                    <button type="button" class="btn btn-primary col-xs-12" ng-show="showDeleteUser" ng-click="removeUser()">[['delete_user'|translate]]</button>
                    <button type="button" class="btn btn-primary col-xs-12" ng-show="showActivateUser" ng-click="toggleUserStatus('active')">[['activate_user'|translate]]</button>
                    <button type="button" class="btn btn-primary col-xs-12" ng-show="showDeactivateUser" ng-click="toggleUserStatus('archived')">[['archive_user'|translate]]</button>
                </div>
                <div class="user-actions--devices">
                    <h3>[['devices' | translate]]</h3>

                    <div class="user-actions--devices--item" ng-repeat="device in user.devices">
                        <div class="device-info">
                            <div class="device-name">
                                <strong>[['device'|translate]]:</strong> [[device.device_type]]
                            </div>
                            <div class="operating-sys">
                                <strong>[['operating_system'|translate]]:</strong> [[device.device_os]]
                            </div>
                        </div>
                        <div class="device-action">
                            <!--<button type="button" class="btn btn-primary col-xs-12" ng-click="testNotifications(device.device_id)">[['TEST_NOTIFICATIONS'|translate]]</button>!-->
                            <button type="button" class="btn btn-primary col-xs-12" ng-click="removeDevice(device.device_id)">[['remove_device'|translate]]</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
