<div class="container-fluid page-heading">
    <h4>[[ 'controlled_substances' | translate]]</h4>
</div>
<div class="container-fluid" ng-class="{side__active: true}" ng-init="list.get()">
    <div class="row-fluid">

        <div class="main-title">
            <h2>[[ 'audit_log' | translate]]</h2>

            <div class="main-title--options">
                <div class="pull-right">
                    <a class="link-btn" ui-sref="stock_report">[[ 'stock_take' | translate]]</a><span>|</span>
                    <a class="link-btn" ui-sref="stock_add">[[ 'add_stock' | translate]]</a><span>|</span>
                    <a class="link-btn" ui-sref="stock_checkout">[[ 'checkout' | translate]]</a><span>|</span>
                    <a class="link-btn right" ui-sref="audit_log">[[ 'audit' | translate]]</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12" style="margin-bottom: 15px;">
            <div class="row date-filters">
                <div class="col-xs-2">
                    <div class="right-inner-addon">
                        <label>[['from' |translate ]]</label>
                        <input type="text" class="form-control" placeholder="[[ 'from' | translate]]"
                               ng-model="list.dateFrom"
                               bs-datepicker
                               data-autoclose="true" ng-change="init()"
                               data-placement="bottom-right"
                               data-max-date="[[list.dateTo]]" data-date-format="yyyy-MM-dd"
                               maxlength="10">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="right-inner-addon">
                        <label>[['to' |translate ]]</label>
                        <input type="text" class="form-control" placeholder="[[ 'to' | translate]]"
                               ng-model="list.dateTo"
                               bs-datepicker
                               ng-change="init()"
                               data-min-date="[[list.dateFrom]]" data-date-format="yyyy-MM-dd"
                               data-autoclose="true"
                               data-placement="bottom-right"
                               maxlength="10">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="col-xs-8">

                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row table-container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th ng-click="list.sort_by('dt_added')">[['date'|translate]] <span
                                ng-show="list.predicate=='dt_added'"><i class="fa fa-caret-down"
                                                                         ng-show="list.reverse"></i><i
                                class="fa fa-caret-up" ng-hide="list.reverse"></i></span></th>
                        <th>[['action'|translate]]</th>
                        <th>[['by'|translate]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="list.loading">
                        <td colspan="5">
                            [[ 'loading' | translate]]
                        </td>
                    </tr>
                    <tr ng-repeat="data in list.items">
                        <td>[[data.dt_added | toLocalDateTime]]</td>
                        <td>[[data.log_entry]]</td>
                        <td>[[data.added_by_user.name]]</td>
                    </tr>
                    <tr ng-show="list.filteredItems == 0 && list.loading == false">
                        <td colspan="5">
                            [[ 'no_log_found' | translate]]
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="row table-footer">
                <div class="table-options">
                    <div class="table-options--page">
                        <span>[[ 'page' | translate]]</span>
                        <select class="form-control select__small" name="" id="" ng-model="list.currentPage">
                            <option ng-repeat="n in [] | range:list.totalPages">[[n]]</option>
                        </select>
                        <span>[[ 'of' | translate]] 1 [[ 'page' | translate]]</span>
                        <small> ([[list.totalItems]] [[ 'total_items' | translate]])</small>
                    </div>
                    <div class="table-options--itemspp">
                        <span>[[ 'showing' | translate]]</span>
                        <select class="form-control select__small" name="" ng-model="list.itemsPerPage">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <span>[[ 'items_per_page' | translate]]</span>
                    </div>
                </div>
                <div
                        pagination=""
                        ng-model="list.currentPage"
                        total-items="list.totalItems"
                        items-per-page="list.itemsPerPage"
                        boundary-links="false"
                        on-select-page="list.setPage(page)"
                        previous-text="&laquo;"
                        next-text="&raquo;"
                        class="pagination-small">
                </div>
            </div>
        </div>


    </div>
</div>
