<html ng-app="SigninApp">
    <head>
        <link rel="stylesheet" href="/static/project/lib/angular-material/angular-material.min.css"/>
        <script type="application/javascript" src="/static/project/lib/angular/angular.min.js"></script>
        <script type="application/javascript" src="/static/project/lib/angular-animate/angular-animate.min.js"></script>
        <script type="application/javascript" src="/static/project/lib/angular-aria/angular-aria.min.js"></script>
        <script type="application/javascript" src="/static/project/lib/angular-material/angular-material.min.js"></script>
        <script type="application/javascript" src="/static/project/js/signin.js"></script>

        <title>{% block head_title %}Medic52{% endblock %}</title>
    </head>
    <body ng-controller="AppCtrl" style="background-color: #f6f6f6">
        <md-toolbar class="md-warn" layout="row" layout-align="center center">
            <h1>{% block title %}Medic52-Signin{% endblock %}</h1>
        </md-toolbar>

        {% block content %}

        {% endblock %}
    </body>
</html>